.rocket-details {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  padding: 1rem;
}

.rocket-image {
  grid-row: 1 / 2;
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

.rocket-info {
  display: flex;
  flex-direction: column;
  font-size: small;
  grid-row: 2 / -1;
  height: auto;
  padding: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .rocket-details {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

  }

  .rocket-image {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    width: 100%;
  }

  .rocket-info {
    grid-row: 1 / -1;
    grid-column: 1 / 2;

  }
  
}

