.rocket-details {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  padding: 1rem;
}

.back-button {
  align-self: flex-start;
  font-size: smaller;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.rocket-image {
  grid-row: 1 / 2;
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

.rocket-info {
  display: flex;
  flex-direction: column;
  font-size: small;
  grid-row: 2 / -1;
  height: auto;
  padding: 0.5rem;
}

.rocket-name {
  margin-bottom: 2rem;
}

.info-header {
  margin-bottom: 0;
}

@media only screen and (min-width: 800px) {
  .rocket-details {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

  }

  .rocket-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .back-button {
    align-self: flex-start;
    font-size: smaller;
    margin-bottom: 5rem;
    margin-left: 1rem;
  }

  .rocket-image {
    display: flex;
    justify-self: center;
    align-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    height: 70vh;
    width: auto;
    max-width: 50vw;
    margin-bottom: 5rem;
    margin-left: 2rem;
  }
  
  .rocket-info {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    padding: 3rem;
  }

  .rocket-name {
    margin-bottom: 4rem;
  }
}