.header {
  background-color: #161B22;
  border-bottom: 1rem solid #30363D;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  align-items: flex-start;
}

.site-title {
  margin-bottom: 0;
}



@media only screen and (min-width: 600px) {
  .header {
    grid-column: 1 / -1;
    grid-row: auto;
  }
}