.header {
  align-items: center;
  background-color: #161B22;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  padding: 1rem;
  transition: 0.3s all;
}

.left-header {
  display: flex;
  height: 100%;
}

.logo {
  height: 3rem;
  width: auto;
}

.tagline {
  display: none;
}

.site-title {
  margin-bottom: 0;
}

.right-header {
  padding: 1rem;
}

@media only screen and (min-width: 600px) {
  .header {
    flex-direction: row;
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .tagline {
    display: initial;
  }

  .logo {
    height: 4rem;
  }
}