.search {
  background: #161B22;
  border: none;
  border-radius: 0.5rem;
  color: white;
  box-shadow: inset 6px 6px 5px #090b0e, inset -6px -6px 5px #232b36;
  margin: 0.5rem;
  max-width: 8rem;
  outline: none;
  padding: 0.6rem;
}

@media only screen and (min-width: 800px) {
  .search {
    margin: 1rem;
    max-width: 8rem;
  }
}