.no-results-message {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .card-container {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
  }
}