.App {
  background-color: #0D1116;
  color: white;
  font-size: 16px;
}

/* OVERRIDES SYSTEM DEFAULTS, IS IT OKAY FOR THIS TO LIVE IN APP OR SHOULD I BE MORE SPECIFIC */

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #3ee5f7;
}


@media only screen and (min-width: 600px) {
  .App {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: auto auto;
  }
}
