.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 1 / -1;
  height: 70vh;
}

.displayed-error {
  margin: 3rem;
}

.back-button {
  align-items: center;
  background-color: #21262D;
  border: 1px solid #30363D;
  border-radius: 0.8rem;
  color: white;
  display: flex;
  font-size: x-small;
  height: 1rem;
  margin: 0.2rem;
  padding: 0.5rem;
  transition: 0.3s all;
}

.back-button:hover {
  background-color: #f73e97;
  color: #000000;
  cursor: pointer;
}