.nav {
  display: flex;
  justify-content: space-evenly;
  font-size: small;
  height: 5vh;
  padding: 1rem;
}

.nav-button {
  align-items: center;
  background-color: #21262D;
  border: 1px solid #30363D;
  border-radius: 0.8rem;
  color: white;
  display: flex;
  font-size: x-small;
  height: 1rem;
  margin: 0.2rem;
  padding: 0.5rem;
  transition: 0.3s all;
}

.upcoming:hover {
  background-color: #3ee5f7;
  color: #000000;
  cursor: pointer;
}

.recent:hover {
  background-color: #f73e97;
  color: #000000;
  cursor: pointer;
}

.active {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}





@media only screen and (min-width: 600px) {
  .nav {
    flex-direction: column;
    justify-content: flex-start;
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    height: auto;
  }

  .nav-button {
    margin-top: 3rem;
  }
}